/*
=========================================
Modifying Wiki article output
=========================================
*/

.wiki-output {
    padding-top: 72px;
}

.wiki-output,
.wiki-summary-output {
    padding-left: 8px;
    padding-right: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.wiki-output {
    padding-bottom: 64px;
    background-color: black;
    color: white !important;
}

.wiki-output p {
    font-size: 16px;
}

.wiki-output p:first-of-type {
    margin-top: 0;
}

#toc li {
    margin: 16px auto;
}


.wiki-output img,
.wiki-output .thumbcaption,
.wiki-summary-output .thumbcaption,
.wiki-summary-output .error
.hatnote.navigation-not-searchable,
.mw-editsection,
div.reflist.columns.references-column-width b,
.mw-cite-backlink,
div.navbox,
#External_links,
table,
.wiki-summary-output .thumb,
.wiki-output .thumb,
.portal,
#See_also,
.metadata,
.noprint {
    display: none !important;
}

.wiki-output div.reflist.columns.references-column-width a,
.wiki-output div.refbegin.columns.references-column-width a,
.wiki-output a.external.text,
.wiki-output .invalid-link {
  text-decoration: none;
  color: white;
  pointer-events: none;
  cursor: default;  
}

.wiki-summary-output div.reflist.columns.references-column-width a,
.wiki-summary-output div.refbegin.columns.references-column-width a,
.wiki-summary-output a.external.text,
.wiki-summary-output a.invalid-link {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;  
}

@media screen and (min-width: 1300px) {

    .wiki-output .thumb,
    .wiki-output .thumbcaption,
    .wiki-output img {
        display: block !important;

    }


    .wiki-output .thumb {
        border-bottom: 2px solid white;
        max-width: 100%!important;
        height: auto;
    }

    .wiki-output .tnone {
        display: inline-block !important;
        margin: auto;
    }

    .wiki-output .tright {
        float: right;
        margin: 24px 0 24px 24px;
        padding-bottom: 16px;
        clear: right;
    }

    .wiki-output .tleft {
        float: left;
        clear: left;
        margin: 24px 24px 24px 0;
        padding-bottom: 16px;
    }

}

/*
===========================================
Base Rules
===========================================
*/

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2f82b6;
}

a:hover {
    text-decoration: underline;
    color:#246288;
}

.wiki-output h1, .wiki-output h2,
h1, h2 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

.wiki-output h3, 
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

.wiki-output h4,.wiki-output h5,.wiki-output h6,
h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

p, textarea {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

button {
    height: 40px;
    margin: 4px;
    border: 2px solid #42adf4;
    background-color: white;
    color: #42adf4;
    border-radius: 5px;
    font-weight: bold;
    -webkit-transition: color 200ms ease, background-color 200ms ease;
    -moz-transition: color 200ms ease, background-color 200ms ease;
    transition: color 200ms ease, background-color 200ms ease;
}

button:hover,
button:active {
    color:white;
    background-color: #42adf4;
    cursor: pointer;
}

button:focus,
textarea:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(66,173,244,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(66,173,244,1);
    box-shadow: 0px 0px 4px 1px rgba(66,173,244,1);
}

.muted {
    color: #6e6e6e;
    font-weight: 200;
    font-size: 12px;
}

.highlight {
    font-weight: bold;
    color: #42adf4;
}

.highlight-secondary {
    text-transform: uppercase;
    font-weight: bolder;
    color: #292929;
}


/*
===========================================
Start Menu Module
===========================================
*/

#start-menu {
    width:100%;
    position: absolute;
    visibility: hidden;
}

#start-menu.is-visible {
    visibility: visible;
}

.start-menu-title {
    max-width: 900px;
    margin:auto;
}

.start-menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-menu-title img {
    width:100%;
    height: auto;
}



/*
===========================================
How-To-Play Module
===========================================
*/

.how-to-container {
    width:100%;
    position: absolute;
}

#how-to {
    max-width: 650px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}

#how-to.is-visible {
    display: flex;
}

#how-to p {
    text-align: center;
    line-height: 1.5em;
}

.how-to-example-button {
    height: 24px;
    pointer-events: none;
}

/*
===========================================
Game Module
===========================================
*/

#game {
    width: 100%;
    position: absolute;
    visibility: hidden;
}

#game.is-visible {
    visibility: visible
}

.game-topic {
    padding-left: 8px; 
}

.game-topic h6{
    margin: 0 0;
}

.game-topic-start {
    margin-top: 72px;
}

.game-topic-target {
    margin-top: 24px;
}

.game-topic-start-clickable:hover {
    cursor: pointer;
    color:#246288;
    
}

#start-digging-button.removed {
    display: none;
}

#starting-link div,
#target-link div,
#starting-link img,
#target-link img{
    display: none;
}

#starting-link, #target-link{
    background-color: #8ccef7;
    height:0;
    position: absolute;
    margin-left: -100vw;
    max-width: 100vw;
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
}

#starting-link.is-visible div,
#target-link.is-visible div {
    display: block;
}

#starting-link.is-visible img,
#target-link.is-visible img {
    margin: 64px 0 16px 8px;
    cursor: pointer;
    display: inline-block;
}

#starting-link.is-visible, #target-link.is-visible {
    height: auto;
    margin-left: 0;
}

.page-container {
    width:100%;
    background-color: black;
}

#page {
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width:600px) {
    .game-topic {
        padding-top: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .game-topic p {
        text-align: center;
        margin: 24px auto;
    }

    .game-topic div:last-of-type {
        flex: 0 0 100%;
        
    }

    .game-topic-start,
    .game-topic-target {
        margin-top: 0;
    }

    .game-topic-start-clickable{
        font-size: 32px;
    }

}

@media screen and (min-width: 750px){

    .game-topic h6 {
        font-size: 32px;
    }

    .game-topic-start-clickable{
        font-size: 44px;
    }
    
}

@media screen and (min-width: 900px) {
    .game-topic {
        max-width: 900px;
        margin: auto;
    }
}


/*
===========================================
Game Links Module
===========================================
*/

.game-links {
    height:0;
    display:flex;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgb(0,0,0))
}

.game-links.is-visible {
    height: auto;
}

.game-links-cliff-left,
.game-links-cliff-right {
    background-size: cover;
    flex: 1 1 300px;
}

.game-links-cliff-left {
    background-image: url('icons/cliff-left.svg');
}

.game-links-cliff-right{
    background-image: url('icons/cliff-right.svg');
}

#game-links-list {
    margin: auto;
    -webkit-padding-start: 0 !important;
    display:flex;
    flex: 0 0 900px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#game-links-list li {
    text-shadow: 0px 0px 1px #FFFFFF;
    padding: 0 8px;
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
}

#game-links-list li > p {
    overflow-wrap: break-word;
}

.game-links-list-arrow {
    align-self: center;
}

.game-links li:last-of-type {
    padding-bottom: 64px !important;
}

@media screen and (max-width: 1250px){

    .game-links-cliff-left,
    .game-links-cliff-right {
        display: none;
    }

    #game-links-list {
        flex-shrink: 1;
    }
}

/*
===========================================
Game Nav Bar Module
===========================================
*/

.game-fixed-nav{
    z-index: 1;
    margin-top: -50px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #42adf4;
    position: fixed;
    height: 48px;
    -webkit-transition: margin-top 1s ease 2s;
    -moz-transition: margin-top 1s ease 2s;
    transition: margin-top 1s ease 2s;
}

.game-fixed-nav.is-visible{
    margin-top: 0;
}

.game-fixed-nav-container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-fixed-nav button {
    width: 50px;
}

#game-fixed-nav-previous-btn {
    margin-left: 8px;
}

#game-fixed-nav-previous-btn.is-disabled {
    pointer-events: none;
    opacity: .3;
    color: #6e6e6e;
    border: 2px solid #6e6e6e;
}

.game-fixed-nav-up-btn {
    font-size: 24px;
    vertical-align: top;
}

.game-fixed-nav p {
    padding-right: 8px;
}

@media screen and (min-width: 400px) {
    .game-fixed-nav p {
        font-size: 16px;
        line-height: 1em;
    }
}

@media screen and (min-width: 900px) {
    .game-fixed-nav {
        justify-content: space-around;
    }
}
/*
===========================================
Prompt Module
===========================================
*/

#prompt-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display:none;
}

#prompt-overlay.is-visible {
    display: block;
}

#prompt {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    max-width: 500px;
}

#prompt-text {
    max-width: 80%;
}

#prompt-input {
    width: 80%;
    min-height: 100px;
}

#prompt-input-required {
    color: #af2457;
}

#prompt-confirm-button,
#prompt-cancel-button {
    width: 100px;
    margin: 16px;
}


#prompt-cancel-button {
    color: #6e6e6e;
    border-color: #6e6e6e;
}

#prompt-cancel-button:hover {
    color:white;
    background-color: #6e6e6e;
}

#prompt-cancel-button:focus {
    -webkit-box-shadow: 0px 0px 4px 1px #6e6e6e;
    -moz-box-shadow: 0px 0px 4px 1px #6e6e6e;
    box-shadow: 0px 0px 4px 1px #6e6e6e;
}

#prompt-input-required {
    opacity: 0;
}


#prompt-input-required.is-visible {
    opacity: 1;
}


/*
===========================================
Error Module
===========================================
*/

#error-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display:none;
}

#error-overlay.is-visible {
    display: block;
}

.error-display {
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    max-width: 500px;
}


/*
===========================================
Results Module
===========================================
*/

.results-container {
    z-index: -1;
    width: 100%;
    position: absolute;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: auto;
    visibility: hidden;
}

#results.is-visible {
    visibility: visible;
}

#results.text {
    text-align: center
}

#results-list {
    -webkit-padding-start: 0 !important;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#results-list li {
    padding: 0 8px;
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
}

/*
===========================================
Spinner Module
===========================================
*/

body.is-loading {
    height: 100%;
    overflow: hidden;
}

#loading {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    display: none;
}

#loading.is-visible,
#prompt-loading.is-visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prompt-loading {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    position: absolute;
    display: none;
}

@keyframes spin{
    0% {
        border-radius: 50%;
        background-color:white;
    }
    50% {
        border-radius: 0;
        background-color: #42adf4;
    }
    100% {
        border-radius: 50%;
        background-color: white;
    }
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

#spinner {
    margin: auto;
    height: 100px;
    width: 100px;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: -500ms;
}
