/*
=========================================
Modifying Wiki article output
=========================================
*/

.wiki-output {
    background-color: peachpuff;
}

.wiki-output p {
    font-size: 16px;
}

.wiki-output .thumbcaption,
.hatnote.navigation-not-searchable,
.mw-editsection,
div.reflist.columns.references-column-width b,
.mw-cite-backlink,
div.navbox,
#External_links,
table,
.thumb,
.portal,
#See_also {
    display: none;
}

div.reflist.columns.references-column-width a,
div.refbegin.columns.references-column-width a,
a.external.text,
.invalid-link {
  text-decoration: none;
  color: black;
  pointer-events: none;
  cursor: default;  
}

/*
===========================================
Start Menu Module
===========================================
*/

#start-menu {
    position: absolute;
    visibility: hidden;
}

#start-menu.is-visible {
    visibility: visible;
}

/*
===========================================
How-To-Play Module
===========================================
*/
#how-to {
    position: absolute;
    visibility: hidden;
}

#how-to.is-visible {
    visibility: visible
}

/*
===========================================
Game Module
===========================================
*/

#game {
    position: absolute;
    visibility: hidden;
}

#game.is-visible {
    visibility: visible
}

#start-digging-button.removed {
    display: none;
}

/*
===========================================
Prompt Module
===========================================
*/

#prompt-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
}

#prompt-overlay.is-visible {
    display: block;
}

#prompt {
    background-color: white;
    margin: auto;
    max-width: 500px;
}

#prompt-input {
    visibility: hidden;
}

#prompt-input.is-visible {
    visibility: visible;
}

#prompt-confirm-button {
    visibility: hidden;
}

#prompt-confirm-button.is-visible {
    visibility: visible;
}

#prompt-cancel-button {
    visibility: hidden;
}

#prompt-cancel-button.is-visible {
    visibility: visible;
}

#prompt-input-required {
    visibility: hidden;
}

#prompt-input-required.is-visible {
    visibility: visible;
}

/*
===========================================
Results Module
===========================================
*/

#results {
    position: absolute;
    visibility: hidden;
}

#results.is-visible {
    visibility: visible;
}